.svg-icon {
    width: 2em;
    height: 2em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
    fill: #4691f6;
}

.svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
}

.html-text {
    font: 12px sans-serif;
    color: #444;
}

/* Elegant Aero */
/*.elegant-aero {*/
/*margin-left: auto;*/
/*margin-right: auto;*/

/*max-width: 500px;*/
/*background: #D2E9FF;*/
/*padding: 20px 20px 20px 20px;*/
/*font: 12px Arial, Helvetica, sans-serif;*/
/*color: #666;*/
/*}*/

/*.elegant-aero h1 {*/
/*font: 24px "Trebuchet MS", Arial, Helvetica, sans-serif;*/
/*padding: 10px 10px 10px 20px;*/
/*display: block;*/
/*background: #C0E1FF;*/
/*border-bottom: 1px solid #B8DDFF;*/
/*margin: -20px -20px 15px;*/
/*}*/

/*.elegant-aero h1 > span {*/
/*display: block;*/
/*font-size: 11px;*/
/*}*/

/*.elegant-aero label > span {*/
/*float: left;*/
/*margin-top: 10px;*/
/*color: #5E5E5E;*/
/*}*/

/*.elegant-aero label {*/
/*display: block;*/
/*margin: 0px 0px 5px;*/
/*}*/

/*.elegant-aero label > span {*/
/*float: left;*/
/*width: 20%;*/
/*text-align: right;*/
/*padding-right: 15px;*/
/*margin-top: 10px;*/
/*font-weight: bold;*/
/*}*/

/*.elegant-aero input[type="text"], .elegant-aero input[type="email"], .elegant-aero textarea, .elegant-aero select {*/
/*color: #888;*/
/*width: 70%;*/
/*padding: 0px 0px 0px 5px;*/
/*border: 1px solid #C5E2FF;*/
/*background: #FBFBFB;*/
/*outline: 0;*/
/*-webkit-box-shadow: inset 0px 1px 6px #ECF3F5;*/
/*box-shadow: inset 0px 1px 6px #ECF3F5;*/
/*font: 200 12px/25px Arial, Helvetica, sans-serif;*/
/*height: 30px;*/
/*line-height: 15px;*/
/*margin: 2px 6px 16px 0px;*/
/*}*/

/*.elegant-aero textarea {*/
/*height: 100px;*/
/*padding: 5px 0px 0px 5px;*/
/*width: 70%;*/
/*}*/

/*.elegant-aero select {*/
/*background: #fbfbfb url('../img/down-arrow.png') no-repeat right;*/
/*background: #fbfbfb url('../img/down-arrow.png') no-repeat right;*/
/*appearance: none;*/
/*-webkit-appearance: none;*/
/*-moz-appearance: none;*/
/*text-indent: 0.01px;*/
/*text-overflow: '';*/
/*width: 70%;*/
/*}*/

/*.elegant-aero .button {*/
/*padding: 10px 30px 10px 30px;*/
/*background: #66C1E4;*/
/*border: none;*/
/*color: #FFF;*/
/*box-shadow: 1px 1px 1px #4C6E91;*/
/*-webkit-box-shadow: 1px 1px 1px #4C6E91;*/
/*-moz-box-shadow: 1px 1px 1px #4C6E91;*/
/*text-shadow: 1px 1px 1px #5079A3;*/

/*}*/

.elegant-aero .button:hover {
    background: #3EB1DD;
}

/*#mainArea {*/

/*}*/

.round-block {
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border: 1px solid #ddd7f5;
    margin: 10px 10px 10px 10px;
    padding: 0 0 0 0;
    float: left;
    text-align: center;
    background: #D2E9FF;
    font: 12px Arial, Helvetica, sans-serif;
    color: #666;
}

.round-block input[type="text"], .round-block textarea, .round-block select, .round-block input[list="newList"] {
    color: #888;
    width: 100px;
    padding: 0px 0px 0px 5px;
    margin: 5px 5px 5px 5px;
    border: 1px solid #C5E2FF;
    background: #FBFBFB;
    outline: 0;
    -webkit-box-shadow: inset 0px 1px 6px #ECF3F5;
    box-shadow: inset 0px 1px 6px #ECF3F5;
    font: 200 12px/25px Arial, Helvetica, sans-serif;
    height: 30px;
    line-height: 15px;
    cursor: move;
    float: left;
}

.round-block span {
    color: #5E5E5E;
    float: left;
    width: 100px;
    text-align: center;
    /*padding-right: 15px;*/
    margin: 15px 5px 5px 5px;
    font-weight: bold;
    cursor: move;
}

.round-block span > input{
    cursor: move;
}

.round-block input[type="button"] {
    padding: 7px 10px 7px 10px;
    margin: 5px 5px 5px 5px;
    background: #66C1E4;
    border: none;
    color: #FFF;
    box-shadow: 1px 1px 1px #4C6E91;
    -webkit-box-shadow: 1px 1px 1px #4C6E91;
    -moz-box-shadow: 1px 1px 1px #4C6E91;
    text-shadow: 1px 1px 1px #5079A3;
    width: 100px;
    height:32px;
    float: left;
    cursor: move;
}

.round-block textarea {
    height: 60px;
    width: 200px;
    padding: 5px 0px 0px 5px;
}

#component {
    width: 230px;
}

#component > div {

}

#container {
    width: 640px;
    height: 640px
}

/*#component div, input {*/
/*width:110px;*/
/*float:left;*/
/*cursor:move;*/
/*}*/