/*
#mainArea div {
    float: left;
    border: 1px solid red;
    margin: 20px 0px 0px 20px;
}
*/
/*svg>rect {*/
/*fill:#00FF99;*/
/*stroke:black;*/
/*stroke-width:1;*/
/*}*/

/*svg>text {*/
/*fill:#0099CC;*/
/*}*/

.gridBackground {
    background-size: 20px 20px;
    background-image: linear-gradient(to right, grey 1px, transparent 1px), linear-gradient(to bottom, grey 1px, transparent 1px);
}

input[type="text"] {
    padding: 3px;
    border: solid 1px #fff;
    box-shadow: inset 1px 1px 2px 0 #707070;
    transition: box-shadow 0.3s;
    width: 100px;
    height: 18px;
    opacity: .7;
    /*z-index: 10;*/
    position: absolute;
    font: 12px sans-serif;
}

input[type="text"]:focus,
input[type="text"].focus {
    box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}

/*.myRect {
    fill: #0099CC;
    border: 1px solid #346789;
    box-shadow: 2px 2px 19px #aaa;
    -o-box-shadow: 2px 2px 19px #aaa;
    -webkit-box-shadow: 2px 2px 19px #aaa;
    -moz-box-shadow: 2px 2px 19px #aaa;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
    opacity: 0.8;
    filter: alpha(opacity=80);
    text-align: center;
    z-index: 10;
    position: absolute;
    background: #eeeeef linear-gradient(#eeeeef 50%, #cdcdd6 50%);
    color: black;
    font-family: helvetica;
    /!*padding: 0.5em;*!/
    font-size: 0.9em;
    min-width: 80px;
    min-height: 60px;
    overflow: auto;
    /!*padding: 5px 5px 5px 5px;*!/
    cursor: move;
}

.myRect:hover {
    box-shadow: 2px 2px 19px #444;
    -o-box-shadow: 2px 2px 19px #444;
    -webkit-box-shadow: 2px 2px 19px #444;
    -moz-box-shadow: 2px 2px 19px #444;
    opacity: 0.6;
    filter: alpha(opacity=60);
}*/

.myRect {
    fill: #C6E9C2;
    stroke: #43973A;
    stroke-width: 4px;
    #border: solid #4492c2 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    text-align: center;
    z-index: 10;
    position: absolute;
    color: #211d21;
    font-family: Courier New, sans-serif;
    text-decoration: none;
    overflow: auto;
    /*padding: 5px 5px 5px 5px;*/
    cursor: move;
    pointer-events: all;
}

.myRectDash {
    stroke-dasharray: 5, 5;
}

.myRectLight {
    stroke: #9fc7e0;
}

.myRect:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.myClose {
    fill: #70717C;
    cursor: no-drop;
    z-index: 20;
}

.myNResize {
    stroke: black;
    fill: white;
    cursor: n-resize;
    z-index: 20;
}

.mySResize {
    stroke: black;
    fill: white;
    cursor: s-resize;
    z-index: 20;
}

.myWResize {
    stroke: black;
    fill: white;
    cursor: w-resize;
    z-index: 20;
}

.myEResize {
    stroke: black;
    fill: white;
    cursor: e-resize;
    z-index: 20;
}

.myMidPoint {
    fill: #FFFFFF;
    stroke: grey;
    opacity: 0.5;
    stroke-width: 1;
    cursor: crosshair;
}

.myEndPoint {
    fill: #444444;
    stroke: black;
    opacity: 0.7;
    stroke-width: 1;
    cursor: pointer;
}

.myConnector {
    #z-index: 4;
    stroke: #61B7CF;
    stroke-width: 2;
    fill: none;
    cursor: move;
    position: absolute;
}

.myConnector:hover {
    stroke-width: 4;
    stroke: #5555FF;
}

.myLabel {
    background-color: white;
    padding: 0.4em;
    font: 12px sans-serif;
    color: #444;
    z-index: 21;
    border: 1px dotted gray;
    opacity: 0.8;
    filter: alpha(opacity=80);
    cursor: pointer;
    position: absolute;
    pointer-events: none;
}

.myLabelFocused {
    border: 1px dotted #6c8ebf;
}

.hide {
    display: none;
}

.toFront {
    #z-index: 99;
}

.toBack {
    #z-index: 0;
}

.myGroup {
    #z-index: 4;
    stroke: #61B7CF;
    stroke-width: 2;
    stroke-dasharray: 5, 5;
    fill: none;
    cursor: move;
    position: absolute;
}

.myEllipse {
    fill: #FFF5C5;
    stroke: #F3913D;
    stroke-width: 4px;
    #border: solid #4492c2 4px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    text-align: center;
    z-index: 10;
    position: absolute;
    color: #211d21;
    font-family: Courier New, sans-serif;
    text-decoration: none;
    overflow: auto;
    /*padding: 5px 5px 5px 5px;*/
    cursor: move;
    pointer-events: all;
}

.myEllipse:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.myLine {
    #z-index: 4;
    stroke: #61B7CF;
    stroke-width: 2;
    stroke-dasharray: 10, 10;
    fill: none;
    cursor: move;
    pointer-events: all;
    position: absolute;
}

.myLine:hover {
    stroke-width: 4;
    stroke: #5555FF;
}

.myBreak {
    stroke: #FF0000;
    stroke-width: 1;
    fill: #FF0000;
    cursor: move;
    z-index: 15;
    pointer-events: all;
    position: absolute;
}

.myBreak:hover {
    stroke-width: 1;
    stroke: #FF0000;
}

.myBrace {
    font-family: sans-serif;
    z-index: 21;
    opacity: 0.8;
    filter: alpha(opacity=80);
    cursor: move;
    stroke: #000000;
    stroke-width: 10px;
    fill: none;
    pointer-events: all;
    position: absolute;
}

.myImage {

}

.myRect2 {
    fill: #FFEE9C;
    stroke: #FF7400;
    stroke-width: 4px;
    #border: solid #4492c2 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    text-align: center;
    z-index: 5;
    position: absolute;
    color: #211d21;
    font-family: Courier New, sans-serif;
    text-decoration: none;
    overflow: auto;
    /*padding: 5px 5px 5px 5px;*/
    cursor: move;
    pointer-events: all;
}

.myRect3 {
    fill: none;
    stroke: red;
    stroke-width: 4px;
    #border: solid #4492c2 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    text-align: center;
    z-index: 1;
    position: absolute;
    color: #211d21;
    font-family: Courier New, sans-serif;
    text-decoration: none;
    overflow: auto;
    /*padding: 5px 5px 5px 5px;*/
    cursor: move;
    pointer-events: all;
}

.myConnector2 {
    #z-index: 4;
    stroke: red;
    stroke-width: 4;
    fill: none;
    cursor: move;
    pointer-events: all;
    position: absolute;
}

.myDiamond {
    fill: #FFCBCB;
    stroke: #801515;
    stroke-width: 2px;
    #border: solid #4492c2 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    text-align: center;
    z-index: 10;
    position: absolute;
    color: #211d21;
    font-family: Courier New, sans-serif;
    text-decoration: none;
    overflow: auto;
    /*padding: 5px 5px 5px 5px;*/
    cursor: move;
    pointer-events: all;
}

.myClippingSquare {
    fill: #FFEE9C;
    stroke: #FF7400;
    stroke-width: 4px;
    #border: solid #4492c2 2px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    opacity: 0.8;
    filter: alpha(opacity=80);
    text-align: center;
    z-index: 10;
    position: absolute;
    color: #211d21;
    font-family: Courier New, sans-serif;
    text-decoration: none;
    overflow: auto;
    /*padding: 5px 5px 5px 5px;*/
    cursor: move;
    pointer-events: all;
}

.myConnector-dash {
    #z-index: 4;
    stroke: #AAAAAA;
    stroke-dasharray: 5, 5;
    stroke-width: 2;
    fill: none;
    cursor: move;
    position: absolute;
}

.mySelected {
    fill: none;
    stroke: #6c8ebf;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-dasharray: 5, 5;
    pointer-events: none;
    /*z-index: 9;*/
    opacity: 0.8;
    cursor: move;
    position: absolute;
}

/* context menu */

.context-menu {
    display: none;
    position: absolute;
    z-index: 99;
    padding: 0;
    width: 150px;
    background-color: #fff;
    border: solid 1px #dfdfdf;
    box-shadow: 1px 1px 2px #cfcfcf;
}

.context-menu--active {
    display: block;
}

.context-menu__items {
    list-style: none;
    margin: 0;
    padding: 0;
}

.context-menu__item {
    display: block;
    margin-bottom: 4px;
}

.context-menu__item:last-child {
    margin-bottom: 0;
}

.context-menu__link {
    display: block;
    padding: 4px 12px;
    color: #0066aa;
    text-decoration: none;
    font: 12px sans-serif;
}

.context-menu__link:hover {
    color: #fff;
    background-color: #0066aa;
}

foreignobject > div {
    font: 12px sans-serif;
    color: #444;
    padding: 0 5px 0 5px;
    position: fixed;
    white-space: nowrap;
    display: block;
    cursor: move;
}

text {
    font: 12px sans-serif;
    fill: #444;
    padding: 0 5px 0 5px;
    position: fixed;
    white-space: nowrap;
    display: block;
    cursor: move;
}

[contenteditable=true]:empty:before {
    content: attr(placeholder);
    color: grey;
    display: block; /* For Firefox */
}

.context-menu > div {
    display: inline-block;
    #margin-right: 1px;
    #padding: 0 0 0 0;
    height: 24px;
    border: 1px solid grey;
    border-radius: 3px;
    #background-color: lightblue;
}

.text-edit-icon-active {
    background-color: lightblue;
}

.modalNameList:hover {
    background: #00d9ff;
}